* {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.center {
}

section {
    white-space: pre;
    line-height: 2.5;
}

.arrow-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.arrow {
    transition: all .5s;
    width: 120px;
    font-size: 100px;
    color: rgba(0,0,0,.3);
}

.arrow:active {
    color: black;
}

.tag {
    color: white;
    padding: 10px;
    border-radius: 3px;
}